<div th:fragment="modal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="title">提示</h4>
                </div>
                <div class="modal-body" id="body">
                </div>
                <div class="modal-footer">
                    <button  data-dismiss="modal" class="btn btn-warning" type="button">确 认</button>
                </div>
            </div>
        </div>
    </div>

    <div id="wx-tip" class="wx-tip" style="display:none;" onclick="closeTip()">
        <img src="assets/images/weixinTip.png" alt="">
    </div>
</div>