<div th:fragment="footer">
    <footer id="footer" class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="divider"></div>
                <div class="col-md-12">
                    <div class="main_footer text-center p-top-40 p-bottom-30">
                        <p class="wow fadeInRight" data-wow-duration="1s">
                            <a href="https://www.itmaker.vip/epay" target="_blank">©just.do.it</a> ©2019-Present. All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>